<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Arga Ghulam Ahmad">
    <meta name="Description" content="Arga Ghulam Ahmad's Resume">
    <meta name="Keywords" content="argaghulamahmad, resume">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{css/resume.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title th:text="${pageTitle}"></title>
</head>

<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Arga Ghulam Ahmad's Resume</a>
</nav>
<br>
<div id="main-container" class="container-fluid">
    <div class="row">
        <div class=".col-6 .col-md-4 center gap3">
            <div class="card border-info center">
                <div class="center">
                    <div class="profile-avatar">
                        <img id="card-picture" src="https://avatars3.githubusercontent.com/u/19942092?s=460&v=4"/>
                        <!-- <img id="card-picture" src="https://scontent-sin6-2.cdninstagram.com/vp/41e0be6faaa6fd571a5e5f2326633157/5B14324B/t51.2885-19/s320x320/21577199_172581069979552_5779989415828914176_a.jpg" -->
                        />
                    </div>
                </div>
                <div class="card-body">
                    <h2 id="card-name" class="card-title">Arga Ghulam Ahmad</h2>
                    <h3 id="card-aboutme">a computer science student</h3>
                </div>
                <div class="card-footer text-muted">
                    <div id="card-socialbox" class="container-fluid">
                        <ul class="social-icons">
                            <li>
                                <a href="https://facebook.com/argaghulamahmad">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ahmadghulamarga">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com/argaghulamahmad">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/in/argaghulamahmad">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/argaghulamahmad">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://gitlab.com/argaghulamahmad">
                                    <i class="fa fa-gitlab"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://behance.net/argaghulamahmad">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.arga.ga">
                                    <i class="fa fa-rss"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="card text-white bg-info" style="width: 18rem;">
                <div class="card-header">
                    <h5>Contact Me</h5>
                </div>
                <div class="card-body">
                    <div class="contactme-detail">
                        <i class="fa fa-phone" aria-hidden="true"> +6297786329285</i>
                        <i class="fa fa-envelope" aria-hidden="true"> argaghulamahmad@gmail.com</i>
                        <br>
                        <i class="fa fa-birthday-cake" aria-hidden="true"> Jakarta, 9 December 1998</i>
                        <i class="fa fa-home" aria-hidden="true"> Jl. SMP 126 no GB61 rt/rw 002/003, perumahan Griya Galaxy, Kel Batu Ampar Kramat Jati DKI Jakarta 13520.</i>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class=".col-12 .col-sm-6 .col-md-8
      center">
            <div class="card border-info center gap2">
                <section>
                    <h2 class="section-title">
                        Summary
                    </h2>
                    <p class="section-description tab">
                        I am a student at Faculty of Computer Science, Universitas Indonesia. I have been a computer
                        science student since 2016.
                        Currently, I focus on studying fouth-semester course and being a teaching assistant.
                    </p>
                </section>
            </div>
            <br>
            <div class="card border-success center gap1">
                <div id="work-education-card" class="container-fluid">
                    <div class="card border-primary gap1">
                        <div class="gap1">
                            <i class="fa fa-briefcase big" aria-hidden="true"> Experience</i>
                            <br>
                            <article class="work">
                                <h2 hidden>Experience</h2>
                                <br>
                                <ul class="tab-ul">
                                    <li>
                                        <div class="block">
                                            <h3 class="title">Teaching Assistant: Foundation of Programming 2</h3>
                                            <h4 class="subtitle">Jan 2018 – Present: University of Indonesia | Depok,
                                                Indonesia</h4>
                                            <p class="paragraph">Help lectures to teach students at Faculty of Computer
                                                Science University of Indonesia about Java
                                                programming language, algorithm, Git version control, Gradle build tool,
                                                jUnit, and Gitlab CI.
                                                I also create the tutorial guidance and mark students assignment in a
                                                group of fifteen students.</p>
                                        </div>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                    <br>
                    <div class="card border-primary gap1">
                        <div class="gap1">
                            <i class="fa fa-graduation-cap big" aria-hidden="true"> Education</i>
                            <br>
                            <article class="education">
                                <br>
                                <h2 hidden>Education</h2>
                                <ul class="tab-ul">
                                    <li>
                                        <div class="block">
                                            <h3 class="title">University of Indonesia | Depok, Indonesia</h3>
                                            <h4 class="subtitle">2016 – 2020: Bachelor's degree, Computer Science</h4>
                                        </div>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer class="footer">
    <p>Arga Ghulam Ahmad © 2017</p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>